name: "next_helpers"
services:
  helper:
    build:
      context: .
      dockerfile: ./dockerfiles/helper.dockerfile
    stdin_open: true
    tty: true
    volumes:
      - .:/app
  dev:
    build: 
      context: .
      dockerfile: ./dockerfiles/dev.dockerfile
    ports:
      - 3000:3000
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    environment:
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true  
      - NEXT_WEBPACK_USEPOLLING=true
      - NEXT_TELEMETRY_DISABLED=1

    